body {
	padding: 0;
	border: 0;
}
ul {
 list-style: none;
}
html { 
  background: url(spe4.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   position:relative; 
  min-height: 100%;
}
#Holder {
	width:auto;
	height:100%;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	margin-bottom:21px;

}
#Header {
	height:70px;
	background-image: url(spe.jpg);
	margin-bottom:5px;
}
#NavBar {
	height:60px;
	background-color:rgb(13, 13, 13);
	
}
#Content {
	height:auto;
	width:auto;
	clear:both;
	overflow:auto;
}
#PageHeading {
	height:50px;
	padding:11px;
}
#ContentLeft {
	width:280px;
	float:left;
	padding-top:11px;
	padding-left:11px;
	background-color:thistle;
}
#ContentRight {
	margin:0;
	padding:0;
	width:680px;
	float:right;
	background-color:thistle;
}
#Footer {
   position: absolute;
   bottom:0;
   width:100%;
   height:30px;   /* Height of the footer */
   background:thistle;
}
h1 {
	margin:0;
	font-family:Arial, Helvetica,
	sans-serif;
	background-color:thistle;
}
h2 {
	margin:0;
	font-family:Arial, Helvetica,
	sans-serif;
	font-weight:lighter;
	#999;
}
h2 {
	margin:0;
	font-family:Arial, Helvetica,
	sans-serif;
	font-weight:lighter;
	font-size:14px;
	#333;
}
form table tr td {
	margin:0;
	font-family:Arial, Helvetica,
	sans-serif;
	font-size:14px;
	color:
	#921;
}
div.fieldSet {
	border: solid black think;
	width: 500 px;
	background-color: #FFFFb0;
}
fieldset {
	border:none;
	margin: 0 0 0 -10px;
	padding 0;
}
input.textbox-300 {
	width: 300px;
	float: left;
}
fieldset p {
	clear:both;
	padding: 5px;
}
label span, .required {
	color:red;
	font-weight:bold;
}